:root {
	--blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* Start box */
@media (max-width: 767px) {
	.block-mobile {
		display: block;
	}	
}

.d-flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.d-grid {
	display: grid;
}

.gap-20 {
	gap: 20px;
}
/* End box */

/* Start width and height */
.w-full {
	width: 100%;
}
/* End width and height */

/* Start padding and margin */
.mt-0 {
	margin-top: 0;
}

.m-20 {
	margin: 20px;
}

.p-10 {
	padding: 10px;
}

.p-15 {
	padding: 15px;
}

.p-20 { 
	padding: 20px;
}
/* End padding and margin */

/* Start Colors */
.bg-white {
	background-color: #fff;
}

.c-black {
	color: #000;
}
/* End Colors */

/* Start position */
.p-relative {
	position: relative;
}
/* End position */

/* Start font */
.fs-14 {
	font-size: 14px;
}

.txt-c {
	text-align: center;
}

@media (max-width: 767px) {	
	.txt-c-mobile {
		text-align: center;
	}
}
/* End font */

/* Start border */
.rad-6 {
	border-radius: 6px;
}

.rad-10 {
	border-radius: 10px;
}
/* End border */

/* Start components */
.between-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* End components */